.jumbotron{
	background-color: orange;
	color: black;
	margin-top: 40px;
}


footer{
	padding: 10px 10px 0 10px;
	background-color: orange;
	margin-bottom: 0px;
	margin-top: 10px
}

.card-edm{
	flex: 1 200px;
	margin-top: 10px;
}
.btn-reserva{
	width: 100%;
	border-radius: 0px;
}
.footer-iconos{
	padding-right: 10px;
}
.tab-content{
	padding-top: 10px;
}