.jumbotron {
  background-color: #e07f00;
  color: black;
  margin-top: 40px;
  margin-bottom: 0; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #de2a23;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-edm {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.footer-iconos {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
