$orange: #e07f00;
$rojo: #de2a23;
$verde: #17ff78;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
	background-color: $orange;
	color: black;
	@include margenes(40px, 0);
}


footer{
	padding: 10px 10px 0 10px;
	background-color: $rojo;
	@include margenes(10px, 0px);
}

.card-edm{
	flex: 1 200px;
	@include margenes(10px, 0px);
}
.btn-reserva{
	width: 100%;
	border-radius: 0px;
}
.footer-iconos{
	padding-right: 10px;
}
.tab-content{
	padding-top: 10px;
}