@orange: #e07f00;
@rojo: #de2a23;
@verde: #17ff78;

.margenes(@top, @bottom){
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron{
  background-color: @verde;
  color: black;
  .margenes(40px, 0);
}


footer{
  padding: 10px 10px 0 10px;
  background-color: @orange;
  .margenes(10px, 0);
}

.card-edm{
  flex: 1 200px;
  .margenes(10px, 0);
}
.btn-reserva{
  width: 100%;
  border-radius: 0px;
}
.footer-iconos{
  padding-right: 10px;
}
.tab-content{
  padding-top: 10px;
}